.blog-post-thumb {
	border-bottom: 1px solid #f0f0f0;
	padding-top: 32px;
	padding-bottom: 62px;
	margin-bottom: 32px;
}

.blog-post-thumb:last-child {
	border-bottom: 0px;
	padding-bottom: 32px;
	margin-bottom: 0px;
}

.blog-post-image, .blog-post-video {
	padding-top: 22px;
	padding-bottom: 22px;
	width: 100%;
}

#about img, .blog-post-image img {
	border-radius: 1px;
}

.blog-post-title a {
	color: #222;
}

.blog-post-title a:hover {
	color: #bfba55;
}

.blog-post-format {
	padding-bottom: 22px;
}

.blog-post-format span {
	letter-spacing: 0.5px;
	padding-right: 12px;
}

.blog-post-format span a {
	color: #333;
}

.blog-post-format span img {
	display: inline-block;
	width: 42px;
	margin-right: 4px;
}

.blog-post-des blockquote {
	margin: 22px;
}

.blog-post-des .btn {
	border-radius: 100px;
	color: #777;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 14px 28px;
	margin-top: 26px;
	transition: all 0.4s ease-in-out;
}

.blog-post-des .btn:hover {
	background: #bfba55;
	border-color: transparent;
	color: #ffffff;
}

.blog-author {
	border-top: 1px solid #f0f0f0;
	border-bottom: 1px solid #f0f0f0;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 42px;
	margin-bottom: 42px;
}

.blog-author .media img {
	display: inline-block;
	width: 90px;
	margin-right: 12px;
}

.blog-author .media a, .blog-comment .media h3 {
	color: #444;
	font-size: 18px;
	letter-spacing: 1px;
}

.blog-comment {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 32px;
	margin-bottom: 42px;
}

.blog-comment .media:nth-child(2) {
	padding-top: 22px;
}

.blog-comment .media img {
	width: 82px;
	margin-right: 12px;
}

.blog-comment .media h3 {
	display: inline-block;
	padding-right: 14px;
}

.blog-comment-form h3 {
	padding-bottom: 18px;
}

#about .col-md-6, #about .col-md-4, .blog-comment-form .col-md-4 {
	padding-left: 0px;
}

.blog-comment-form .form-control {
	box-shadow: none;
	border: 2px solid #f0f0f0;
	margin-top: 10px;
	margin-bottom: 10px;
	transition: all 0.4s ease-in-out;
}

.blog-comment-form .form-control:hover {
	border-color: #555;
}

.blog-comment-form input {
	height: 45px;
}

.blog-comment-form input[type="submit"] {
	background: #bfba55;
	border-radius: 100px;
	border: none;
	color: #ffffff;
	font-weight: bold;
	transition: all 0.4s ease-in-out;
}

.blog-comment-form input[type="submit"]:hover {
	background: #333;
	border-color: transparent;
	color: #ffffff;
}

/*---------------------------------------
   Blog Single Post section              
-----------------------------------------*/
#blog-single-post .blog-single-post-image {
	padding-top: 22px;
}

#blog-single-post .blog-single-post-image .col-md-4 {
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 22px;
}

#blog-single-post .blog-single-post-image img {
	border-radius: 1px;
	padding-right: 12px;
}

#blog-single-post .blog-post-des h3 {
	padding-top: 16px;
}